<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
	</head>
	<body>
		<h1>Contact</h1>
		<p>
			Contact Ruby on Rails Tutorial about the sample app at
			<a href="http://railstutotial.org/Contact">contact page</a>
		</p>
	</body>
</html>